$color-success: #00b894;
$color-action: #74b9ff;
$color-error: #d63031;
$color-warning: #fdcb6e;
$color-text: #2d3436;
$color-textAlt: #636e72;
$color-active: #0984e3;
$color-inactive: #b2bec3;
$color-black: #000000;
$color-white: #ffffff;
$color-stripeA: #81ecec;
$color-stripeB: #dfe6e9;
